# fly.toml app configuration file generated for burrow-cool-pine-3488 on 2026-02-08T10:28:59+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'burrow-cool-pine-3488'
primary_region = 'cdg'

[build]

[env]
  BURROW_DOMAIN = 'meilisearch.link'
  BURROW_LISTEN = '0.0.0.0:8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
  cpus = 1
  memory_mb = 512
